header {
	height: auto;
	width: 100%;
	background-position: center;
	background-image: url('../images/gray.png');
}

header img {
	height: 25%;
	width: 35%;

}

/*Search Box*/

.form-wrapper {
	width: 350px;
	height: 30px;
	padding: 5px;
	background-color: #444;
	background: rgba(0, 0, 0, .2);
	margin-top: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
	float: right;
}

.form-wrapper input {
	width: 250px;
	height: 10px;
	padding: 10px 10px;
	float: left;
	font-family: bold 14px 'Times New Roman';
	border: 0;
}

.form-wrapper input:focus {
	outline: 0;
	background: #FFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	cursor: pointer;
	padding: 0;
	border: 0;
	height: 30px;
	width: 80px;
	font-family: Times New Roman;
	color: #FFF;
	text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3px);
	background: #d83c3c;
}

.form-wrapper button:hover {
	background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus {
	outline: 0;
	background: #c42f2f;
}

.form-wrapper button:before {
	content: '';
	position: absolute;
	left: -6px;
	top: 8px;
	border-color: transparent #d83c3c transparent;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
}

.form-wrapper button:hover:before {
	border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
	border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*Navigation Bar*/

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 5%;
	margin-left: 100px;
}

nav li {
	float: left;
}

nav a {
	float: left;
	color: #eee;
	margin: 0 2px;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #831608;
	font: bold 18px Times New Roman;
	background-color: #831608;
	border-radius: 5px;
	background-image: linear-gradient(#bb413b, #831608);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 

}

nav a:hover {
	background-color: #bb413b;
	background-image: linear-gradient(#831608, #bb413b);
}

nav a:active {
	background: #bb413b;
	position: relative;
	top: 2px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
}

nav span {
	border: 1px dashed #eba1a3;
	display: inline-block;
	padding: 4px 15px;
	cursor: pointer;
	background-color: #bb413b;
	background-image: linear-gradient(#d4463c, #aa2618);
}

nav a:hover span {
	background-color: #bb413b;
	background-image: linear-gradient(#aa2618, #d4463c);
}

#slides {
	margin-top: 10%;
}

.slideshow {
	width: 45%;
	height: 300px;
	border: 1px solid gray;
	margin-left: 11%;
}

.slideshow img {
	width: 100%;
	height: 300px;
}

.delivery {
	width: 27%;
	height: 148px;
	border: 1px solid gray;
	float: right;
	margin-top: -302px;
	margin-right: 16%;
}

.delivery img {
	width: 100%;
	height: 150px;
}

#welcome {
	margin-top: 3%;
}

.box1 {
	width: 90%;
	height: auto;
	margin-left: 4%;
}

.box1 h1 {
	font-family: forte;
	color: #bb413b;
	font-size: 32px;
}

.box1 p {
	font-family: Lucida Bright;
	font-size: 14px;
	color: gray;
}

.terms {
	width: 27%;
	height: 148px;
	border: 1px solid gray;
	float: right;
	margin-top: -150px;
	margin-right: 16%;
}

.terms img {
	width: 100%;
	height: 150px;
}

.items {
	margin-top: 5%;
	width: 90%;
	height: auto;
	margin-left: 4%;
}

.items h1 {
	font-family: forte;
	color: #bb413b;
	font-size: 32px;
}

#tc {
	margin-top: 12%;
}

#tc h2 {
	color: #bb413b;
	font-weight: bolder;
	font-family: Times New Roman;
}

.conditions,
.deliver {
	margin-left: 5%;
	width: 90%;
}
.conditions li {
	color: gray;
	font-family: Verdana;
	font-size: 14px;
}

#deliver {
	margin-top: 12%;
}

#delivery h2 {
	color: #bb413b;
	font-weight: bolder;
	font-family: Times New Roman;
	margin-top: 12%;
}

.deliver li {
	color: gray;
	font-family: Verdana;
	font-size: 14px;
}

section.items div {
	width: 200px;
	height: 250px;
	border: 1px solid black;
	margin: 3px;
	display: inline-block;
	margin-left: 5%;
	margin-top: 3%;
}


/*Login Page*/

#register {
	margin-top: 8%;
	margin-left: 95px;
}

.note {
	border: 1px solid black;
	width: 500px;
	height: 350px;
	background-color: rgb(255, 240, 250);
	display: inline-block;
}

.note h1 {
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	color: #bb413b;
}

.note form {
	width: 80%;
}

.note p {
	font-family: Lucida Bright;
	color: gray;
}

.note1 {
	border: 1px solid black;
	width: 500px;
	height: 350px;
	background-color: rgb(255, 240, 250);
	display: inline-block;
}

.note1 h1 {
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	color: #bb413b;
}

hr {
	border-color: brown;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
}

form.login {
	margin-top: 10%;
	margin-left: 13%;
}

.login input {
	outline: 0;
	display: block;
	padding: 3px;
	margin-top: 3px;
	width: 80%;
	height: 25px;
	font: normal 14px forte;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
}

.login input:hover, input:focus { 
    border-color: brown;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
}

.login button {
	color: white;
	margin-top: 2%;
	border: 1px solid #eba1a3;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #bb413b;
	background-image: linear-gradient(#d4463c, #aa2618);
	font: bold 18px Times New Roman;
	background-color: #831608;
	border-radius: 5px;
	background-image: linear-gradient(#bb413b, #831608);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
}

.login button:hover {
	background-color: #bb413b;
	background-image: linear-gradient(#aa2618, #d4463c);
}

/*Sign Up Page*/

#signup h2 {
	margin-top: 9%;
	width: 90%;
	color: #bb413b;
}

.sign {
	width: 80%;
	height: 500px;
	margin-left: 8%;
	border: 1px solid gray;
}

.sign h1 {
	margin-left: 55px;
	margin-top: 3%;
}

.sign hr {
	width: 90%;
}

.sign form {
	margin-top: 3%;
}