/*Navigation Bar*/

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 2%;
	margin-left: 100px;
}

nav li {
	float: left;
}

nav a {
	float: left;
	color: #eee;
	margin: 0 2px;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #831608;
	font: bold 18px Times New Roman;
	background-color: #831608;
	border-radius: 5px;
	background-image: linear-gradient(#bb413b, #831608);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 

}

nav a:hover {
	background-color: #bb413b;
	background-image: linear-gradient(#831608, #bb413b);
}

nav a:active {
	background: #bb413b;
	position: relative;
	top: 2px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
}

nav span {
	border: 1px dashed #eba1a3;
	display: inline-block;
	padding: 4px 15px;
	cursor: pointer;
	background-color: #bb413b;
	background-image: linear-gradient(#d4463c, #aa2618);
}

nav a:hover span {
	background-color: #bb413b;
	background-image: linear-gradient(#aa2618, #d4463c);
}