<!-- 
Name: April Marie D. Bandivas
Date and Time finish: July 27, 2015 10:13 P.M
-->


<div class="container">
	<h2>View 1</h2>
	Name:
	<br />
	<input type="text" data-ng-model="filter.name">
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter: filter.name | orderBy: 'city'">{{ cust.name }} - {{ cust.city }}</li>
	</ul>

	<br />
	Customer Name:
	<br />
		<input type="text" data-ng-model="newCustomer.name">
	<br />
	Customer City:
	<br />
		<input type="text" data-ng-model="newCustomer.city">
	<br />
	
	<button data-ng-click="addCustomer()">Add Customer</button>
	<br />
	<a href="#/View2">View 2</a>
</div>