<!-- 
Name: April Marie D. Bandivas
Date and Time finish: July 27, 2015 10:13 P.M
-->


<div class="container">
	<h2>View 2</h2>
	City:
	<br />
	<input type="text" data-ng-model="city">
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter:name | orderBy: 'city'">{{ cust.name }} - {{ cust.city }}</li>
	</ul>
</div>