body {

}
.article {
	border: 2px solid gray;
	box-shadow: 0 1px 2px 3px;
	width: 385px;
	height: 485px;
	margin-left: 390px;
	margin-top: 50px;
	border-radius: 40px;
	background-color: black;
}
.calculator {
	border-radius: 40px;
	border: 1px solid gray;
	width: 375px;
	height: 475px;
	position: relative;
	margin-left: 4px;
	margin-top: 4px;
	background-color: gray;
}
.box1 {
	margin-top: 15px;
	border-bottom: 1px solid black;
	width: 375px;
	height: 25px;
	/*border-radius: 50px;*/
}
.box1 ul {
	margin: 0;
	margin-left: -35px;
}
.box1 li {
	display: inline-block;
	margin-left: 10px;
}
.box2 input {
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
	margin-top: 15px;
	margin-left: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #181A20;
	text-align: right;
}
.display-text {
	font-family: Baskerville Old Face;
	font-size: 52px;
	line-height: 42px;
	width: 350px;
	height: 90px;
	overflow: hidden;
}
.box3 {
	margin-top: 10px;
	margin-left: 10px;
}
.box3 button {
	width: 60px;
	height: 45px;
	margin-top: 5px;
	margin-left: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: #000000;
	border-radius: 30px;
	color: white;
}
#button-0 {
	width: 128px;
	height: 45px;
}
#button-equals {
	width: 60px;
	height: 95px;
	margin-top: -45px;
}