<!-- 
Name: April Marie D. Bandivas
Date and Time finish: July 27, 2015 10:13 P.M
-->


<!DOCTYPE html>
<html data-ng-app="">
<head>
	<title>Using Directives and Data Binding Syntax</title>
</head>
<body data-ng-init="customers=[{name: 'John Smith', city: 'Phoenix'}, {name: 'John Doe', city: 'New York'}, {name: 'Jane Doe', city: 'San Francisco'}]">
	<div class="container">
		Name:
		<br />
		<input type="text" data-ng-model="name"> {{ name }}

		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy: 'city' ">{{ cust.name | uppercase }} - {{ cust.city | lowercase }}</li>
		</ul>
	</div>

	<script src="Scripts/angular.min.js"></script>
</body>
</html>