<!-- 
Name: April Marie D. Bandivas
Date and Time finish: July 27, 2015 10:13 P.M
-->


<!DOCTYPE html>
<html data-ng-app="demoApp">
<head>
	<title>Using Directives and Data Binding Syntax</title>
</head>
<body>
	<div data-ng-controller="SimpleController">
		Name:
		<br />
		<input type="text" data-ng-model="name">
		<br />
		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy: 'city' ">{{ cust.name | uppercase }} - {{ cust.city | lowercase }}</li>
		</ul>
	</div>

	<script src="Scripts/angular.min.js"></script>

	<script>
	var demoApp = angular.module('demoApp', [])

		demoApp.controller('SimpleController', function($scope) {

			$scope.customers = [
				{ name: 'John Doe', city: 'Phoenix'},
				{ name: 'John Smith', city: 'New York'},
				{ name: 'Jane Doe', city: 'San Francisco'}
			];
		});
	</script>
</body>
</html>